* {
    box-sizing: border-box;
    font-family: "Jersey 20", sans-serif;

  }

body {
    margin: 0 auto;
    font-family: "Jersey 20", sans-serif;
    background-color: #000F20;
    /* overflow: hidden; */
}

/* css for Header component nothing extra just some style and a hover for the navbar */
.headerComponent ul {
    list-style-type: none;
    margin: 1em 2em ;
    padding: 0;
    overflow: hidden;
}

.headerComponent li {
    float: left;
    font-size: 1.5em;
    padding: 0 2em;
}

.headerComponent li a {
    display: inline-block;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}

.gelb {
    color: #FFD60A;
    animation: mymovew 5s infinite; 
}

@keyframes mymovew {
    50% {color:#E0E1DD}
}

.white {
    color: #E0E1DD;
    animation: mymoveg 5s infinite;
}

@keyframes mymoveg {
    50% {color:#FFD60A}
}




    .white:hover {
        color: #FFD60A;
        opacity: 10%;
    }

    .gelb:hover {
        opacity: 10%;
        color: #E0E1DD;

    }

.headerComponent .menu_trigger {
    display: none;
}

.menu_trigger img{
    width: 40%;
    height: auto;
    margin-right: 20px;
}

@media (max-width: 480px) {
    .hamb_menu {
        display: none;
    }

    .hamb_menu .isOpen {
        display: block;
    }
    .headerComponent li{
        float: center;
    }

    .headerComponent  .menu_trigger{
        display: block ;
        color: #E0E1DD;
    }

    .about p {
        font-size: 1.5em;
    }

}


/* style for a homepage */


.homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.h1 {
    grid-area: 1 / 1 / 2 / 2;
    color: #E0E1DD;
    margin: 0 8%;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    align-self: center;
}

.h2 {
    grid-area: 2 / 1 / 3 / 2;
    color: #a68a64;
    margin: 0 8%;
    font-size: 2em;
    letter-spacing: 0.1em;
    align-self: end;
}

.btn {
    grid-area: 3 / 1 / 4 / 2;
    place-self: center;
}

.pict {
    grid-area: 1 / 2 / 4 / 3;
}

.pict img {
    width: 80%;
    height: auto;
}

/* picture settings after display is to small */

@media only screen and (max-width: 600px) {
    .pict img {
        display: none;
    }

    h1{
        font-size: 1.5em;
        width: 100%;
        padding: 50px 0;
    }

    h2{
        font-size: 1.8em;
        width: 100%;
        padding: 50px;
    }

    .homepage {
        display: block;
    }

    .hpb{
        margin: 30px 90px;
        width: 162px;
        height: 55px;
    }
}



/* style for homepage button to contact me  */

.hpb {
    background-color: #EEEF20;
    width: 190px;
    height: 60px;
    border-radius: 30%;
    font-size: 1.5em;
    font-family: "Jersey 20", sans-serif;

}

.hpb a {
    text-decoration: none;
    color: #000F20;
}

.hpb:hover {
    background-color: #EEEF20;
    width: 200px;
    height: 70px;
    border-radius: 30%;
    font-size: 1.6em;
    font-family: "Jersey 20", sans-serif;

}


/* style for skills page */

@media only screen and (max-width: 600px){
    .left h2 {
        margin: 5px 5px;
    }

    .left p {
        margin: 5px 5px;
    }

    .right img{
        display: none;
    }    

}

.skillPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left {
    grid-area: 1 / 1 / 3 / 2;
    place-self: center;
    align-self: start;

}

.left h2 {
    color: #E0E1DD;
    font-size: 4em;
    align-self: stretch;
}

.left p {
    color: #a68a64;
    font-size: 2em;
    place-self: center stretch;
}

.right {
    grid-area: 1 / 2 / 3 / 3;
}

.right img {
    width: 60%;
    height: 90%;
}



/* work and projects page style */

.workproject {
    /* background-image: url(../img/backgroundForSkills.png) */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
}

/* ProjectWindow style */


/* this is for handeling the component */
.prw-btn {
    justify-self: center;

}

.prw-btn img {
    width: 100%;
    height: auto;
    border: 5px solid yellow;
    border-radius: 20%;
}

/* about page style */

.about p {
    color: #a68a64;
    font-size: 2.2em;
    padding: 0 30px;
}



/* resume page style */


.resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.letter {
    grid-area: 1 / 1 / 3 / 2;

}

.letter h1 {
    font-size: 3em;
    color: #E0E1DD;
    padding: 0 10vh;
}

.letter p {
    font-size: 1.3em;
    color: #a68a64;
    text-align: left;
    padding: 0 10vh;

}

.cv {
    grid-area: 1 / 2 / 3 / 3;
}

.cv img {
    height: 85vh;
    padding: 0 10px;
}

.letter button {
    background-color: #EEEF20;
    font-family: "Jersey 20", sans-serif;
    height: 8vh;
    width: 12vh;
    font-size: 1em;
    border-radius: 5%;
}

.letter button a {
    color: #000F20;
    text-decoration: none;
}

.floutBtnLeft {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.floutBtnRight {
    position: fixed;
    bottom: 40px;
    right: 170px;
}

@media only screen and (max-width: 600px) {
    .cv img{
        display: none;
    }
    .letter button {
        height: 5.7vh;
        width: 8vh;
    }
    .floutBtnLeft{
        bottom: 40px;
        right: 25px;
    }
    .floutBtnRight {
        bottom: 40px;
        right: 95px;
    }
    .letter p {
        font-size: 16px;
        color: #a68a64;
        text-align: left;
        padding-left: 0;
        width: 400px;
    }
    .letter h1 {
        font-size: 3em;
        color: #E0E1DD;
        padding: 0px 74px;
    }
}

/* contact style */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* .sub {
    grid-area: 1 / 1 / 3 / 2;
}

.sub input {
    border: none;
    background: transparent;
    border-bottom: 2px solid #EEEF20;
    color: #E0E1DD;
    padding: 0 10px ;
    margin: 40px 140px;
    width: 40vh;
} */

/* .sub .buttomInput {
    margin-top: 130px;
}

::placeholder{
    color: #E0E1DD;
}

.sub button {
    background-color: #EEEF20;
    margin-left: 70%;
    width: 120px;
    height: 50px;
    border-radius: 30%;
    cursor: pointer;
} */

.social {
    grid-area: 1 / 1 / 3 / 3;;
    justify-self: center;
}

.social button {
    background-color: #EEEF20;
    margin-left: 30%;
    width: 120px;
    height: 50px;
    border-radius: 30%;
    cursor: pointer;
    text-decoration: none;
    margin: 20px 65px;
}

.social button a {
    text-decoration: none;
    color: #a68a64;
}

.social button:hover{
    background-color: #000F20;
}

.social h1 {
    color: #a68a64;
    font-size: 4em;
}

.contactpic img {
    width: 80px;
    height: 80px;
    float: left;
    padding: 6px;
    background-color: transparent;
    transition: width 0.5s;
    transition: height 0.5s;
}

.social button a {
    font-size: 16px;

}

.contactpic img:hover {
    width: 100px;
    height: 100px;
    float: left;
    padding: 1px;

}