body {
    margin: 0 auto;
    font-family: "Jersey 20", sans-serif;
    background-color: #000F20;
    overflow: hidden;
}

/* css for Header component nothing extra just some style and a hover for the navbar */
.headerComponent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.headerComponent li {
    float: left;
    font-size: 1.5em;
    padding: 0 2em;
}

.headerComponent li a {
    display: block;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}

.gelb {
    color: #FFD60A;
    border-bottom: 0px solid #E0E1DD;
    transition: 1s;
}

.white {
    color: #E0E1DD;
    border-bottom: 0px solid #FFD60A;
    transition: 1s;
}

.white:hover {
    border-bottom: 2px solid;
    padding-bottom: 12px;
}

.gelb:hover {
    border-bottom: 2px solid;
    padding-bottom: 12px;
}

/* style for a homepage */


.homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.h1 {
    grid-area: 1 / 1 / 2 / 2;
    color: #E0E1DD;
    margin: 0 8%;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    align-self: center;
}

.h2 {
    grid-area: 2 / 1 / 3 / 2;
    color: #EEEF20;
    margin: 0 8%;
    font-size: 2em;
    letter-spacing: 0.1em;
    align-self: end;
}

.btn {
    grid-area: 3 / 1 / 4 / 2;
    place-self: center;
}

.pict {
    grid-area: 1 / 2 / 4 / 3;
}

.pict img {
    width: 90%;
    height: 80%;
}

/* style for homepage button to contact me  */

.hpb {
    background-color: #EEEF20;
    width: 190px;
    height: 60px;
    border-radius: 30%;
    font-size: 1.5em;
    font-family: "Jersey 20", sans-serif;

}

.hpb a {
    text-decoration: none;
    color: #000F20;
}

/* picture settings after display is to small */

@media only screen and (max-width: 600px) {
    .pict img {
        display: none;
    }
}

/* style for skills page */

.skillPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left {
    grid-area: 1 / 1 / 3 / 2;
    place-self: center;
    align-self: start;

}

.left h2 {
    color: #E0E1DD;
    font-size: 4em;
    align-self: stretch;
}

.left p {
    color: #EEEF20;
    font-size: 2em;
    place-self: center stretch;
}

.right {
    grid-area: 1 / 2 / 3 / 3;
}

.right img {
    width: 60%;
    height: 90%;
}

/* work and projects page style */

.workproject {
    /* background-image: url(../img/backgroundForSkills.png) */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
}

/* ProjectWindow style */


/* this is for handeling the component */
.prw-btn {
    justify-self: center;

}

.prw-btn img {
    width: 60vh;
    height: 40vh;
    border: 5px solid yellow;
    border-radius: 20%;
}

/* about page style */

.about p {
    color: #EEEF20;
    font-size: 2.2em;
    padding: 0 30px;
}

/* resume page style */


.resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.letter {
    grid-area: 1 / 1 / 3 / 2;

}

.letter h1 {
    font-size: 3em;
    color: #E0E1DD;
    padding: 0 10vh;
}

.letter p {
    font-size: 1.3em;
    color: #EEEF20;
    text-align: left;
    padding: 0 10vh;

}

.cv {
    grid-area: 1 / 2 / 3 / 3;
}

.cv img{
    height: 85vh;
    padding: 0 10vh;
}

.letter button {
    background-color: #EEEF20;
    font-family: "Jersey 20", sans-serif;
    height: 8vh;
    width: 10vh;
    font-size: 1em;
}

.letter button a {
    color: #000F20;
    text-decoration: none;
}

.floutBtnLeft {
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
}

.floutBtnRight{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right: 170px;
}